<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <title>Editing Player</title>
  </head>
  <body>
    <div class="panel panel-primary" layout:fragment="content">
      <div class="panel-heading">Editing Player</div>

      <!-- Name section -->
      <div class="panel-body">
        <form class="form-horizontal" th:action="@{/players/{id}(id=*{id})}" th:method="put" th:object="${player}">
          <div class="form-group">
            <label class="col-md-3 control-label">名前</label>
            <div class="col-md-9">
              <input class="form-control" type="text" th:field="*{name}" />
            </div>
          </div>

           <!-- Team section -->
          <div class="form-group">
            <label class="col-md-3 control-label">チーム名</label>
            <div class="col-md-9">
             <!-- <input class="form-control" type="text" th:field="*{team}" /> -->
             <select class="form-control" name="team" >
          		<option>おさかなさんチーム</option>
          		<option>♰漆黒の旋風♰</option>
          		<option>地球外運命共同体</option>
           </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">守備位置</label>
            <div class="col-md-9">
             <!--  <input class="form-control" type="text" th:field="*{position}" /> -->
          <select class="form-control" name="position" >
          	<option value="ピッチャー" >ピッチャー</option>
          	<option value="キャッチャー">キャッチャー</option>
          	<option value="ファースト">ファースト</option>
          	<option value="セカンド">セカンド</option>
          	<option value="サード">サード</option>
          	<option value="ショート">ショート</option>
          	<option value="レフト">レフト</option>
          	<option value="センター">センター</option>
          	<option value="ライト">ライト</option>
          </select>
            </div>
          </div>

		<!--   <div class="form-group">
            <label class="col-md-3 control-label">年齢</label>
            <div class="col-md-9">
              <input class="form-control" type="text" name="age" />
            </div>
          </div>-->

          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button class="btn btn-primary">更新</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>